body {
    font-family:'Courier New', Courier, monospace; 
    margin: 0; 
    padding: 0; 
    background-color: white;
}

header {
    text-align: center;
    padding: 50px 0;
    background-image: url('transferir\ \(4\).jpg')
}

h4{
    text-align: left;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 15px 0
}

section div {
    flex-basis: 20%;
    margin: 10px;
    text-align: center;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}